@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

/*
    "Open Sans", sans-serif;
    "Roboto", sans-serif;
    "Roboto", sans-serif;
*/

@font-face {
  font-family: "OpenSans";
  src: url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
}

:root {
  --darkerPurple: #3f1970;
  --darkPurple: #571fa6;
  --normalPurple: #853fcb;
  --lighterPurple: #bd87f4;
  --lightPurple: #9373d973;

  --blue: #50ace8;

  --darkGreen: #294008;
  --normalGreen: #365902;
  --lightGreen: #99d669;
  --lighterGreen: #a9e879;
  --softGreen: #b4e290;

  --font-serif: "Roboto Slab", sans-serif;
  --font-sans-serif: "Open Sans", sans-serif;

  --box-shadow: -3px 3px 0px black;
  --box-shadow-hover: -3px 3px 0px rgba(0, 0, 0, 0.8);

  --border: 2.8px solid black;
  --border-hover: 0.5px solid rgba(0, 0, 0, 0.516);

  --border-thin: 2px solid black;

  --border-focus-purple: 2.8px solid #853fcb;
  --border-focus-green: 2.8px solid #99d669;
  --border-focus-input: 2.8px solid #98d669bb;
  --shadow-focus-purple: -3px 3px 0px #853fcb;
  --shadow-focus-green: -3px 3px 0px #99d669;

  --transition-background: margin-left 0.2s ease, width 0.2s ease;
}

/* NORMALIZAÇÕES INICIAIS */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-serif);
}

/* ESSE AQUI É NOVO, É DA SIDEBAR */
body {
  --sb-width: 8rem;
  font-family: system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.7;
}

body.sb-expanded {
  --sb-width: 18.5rem;
}

/* Acaba aqui */
html,
body,
main {
  height: 100vh;
  height: 100dvh;
  margin: 0;
  padding: 0;
  background-color: whitesmoke;
  /* padding-top: 10px; */
}

body {
  display: flex;
  flex-direction: row;
  /* flex-direction: column; */
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
}

main {
  flex: 1 0 auto;
  /* margin: 20px 10px; */
  /* padding: 0px 10px; */
  display: flex;
  flex-direction: column;
}

.conteudo-pagina {
  background-color: whitesmoke;
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  z-index: 1;
  /* margin-left: 1rem; */
  padding: 2rem 3.2rem;
  transition:
    margin-left 0.2s ease,
    /* width 0.2s ease; */
}

footer {
  position: static;

  padding: 20px;
  margin-bottom: 0;
  margin-right: 0;
  margin-top: auto;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
  text-align: right;
  font-size: 0.8rem;

  /* max-width: 100vw; */
}

/* NORMALIZAÇÕES ITENS */

/* Bootstrap icons */
/* .navbar.bg-body-tertiary.fixed-top {
  background-color: transparent;
  color: transparent;
  position: absolute;
  z-index: 9999;
}

button.navbar-toggler {
  width: fit-content;
  border: var(--border); 
  box-shadow: var(--box-shadow); 
  border-radius: 0px; 
  padding: 0.3em
} */


.botoes-index {
  align-items: center;
  display: flex;
}

a,
button,
/* .sidenav > a, */
.product-btns > a,
.botoes-index > a,
.btn-add {
  font-size: 1em;
  padding: 0.5em;
  margin: 0.8em;
  background-color: var(--normalPurple);
  color: white;
  font-family: var(--font-serif);
  text-align: center;
  text-decoration: none;

  border: var(--border);
  box-shadow: var(--box-shadow);

  width: 200px;
}

a:hover,
button:hover,
/* .sidenav > a:hover, */
.botoes-index > a:hover,
#container-produtos > button:hover,
#form-products-buttons > button:hover,
.product-btns > button:hover,
.product-btns > a:hover,
.btn-add:hover {
  background-color: var(--darkPurple);
  box-shadow: var(--box-shadow-hover);
  cursor: pointer;
}
/* 
 {
    background-color: var(--darkerPurple);
    color: whitesmoke;
} */

h1 {
  padding: 1em;
  color: var(--darkGreen);
  font-size: 2em;
}

/* hr {
  margin-top: 1em;
} */

h2 {
  text-align: center;
  padding: 1em;
  color: var(--normalGreen);
}

hr {
  color: var(--lighterGreen);
  opacity: 50%;
  margin: 0.5em 0;
}

p {
  font-size: 18px;
}

p > strong {
  font-weight: bolder;
  color: var(--darkGreen);
}

/* Tipos de inputs */

.input-pesquisa {
}

.input-login {
  padding: 0.5em;
  border: var(--border);
  box-shadow: var(--box-shadow);
  font-size: 14px;
}

.input-login:focus {
  border: var(--border-focus-purple);
  box-shadow: var(--shadow-focus-purple);
  outline: none;
}

.input-pedido,
.input-produto,
input[type="date"],
textarea {
  padding: 0.3em;
  border: var(--border-focus-input);
  font-size: 14px;
}

textarea {
  resize: none;
}

.input-pedido:focus,
.input-produto:focus,
input[type="date"]:focus,
textarea:focus,
select:focus {
  border: var(--border-focus-purple);
  outline: none;
}

input[type="date"]:hover {
  cursor: pointer;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin-left: 0.8rem;
}

input[type="checkbox"]:checked {
  background-color: var(--lighterGreen);
  box-shadow: inset 0px 0px 0px 3px white;
}

input[type="checkbox"]:hover {
  cursor: pointer;
}

input[type="file"] {
  border: none;
}

input[type="file"]::file-selector-button {
  border: var(--border);
  padding: 0.3rem;
  background-color: var(--lighterPurple);
  color: white;
  font-family: var(--font-sans-serif);
}

input[type="file"]::file-selector-button:hover {
  cursor: pointer;
  background-color: var(--darkPurple);
}

/* Selects */
select,
::picker(select) {
  appearance: base-select;
  padding: 0.8em;
}

select {
  padding: 0.8em;
  border: var(--border-focus-green);
  font-size: 16px;
  background-color: white;
}

select:hover {
  border: var(--border-focus-purple);
  cursor: pointer;
}

/* Remover setas dos inputs number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/* Mensagens padrão */

.error-msg {
  background-color: brown;
  color: whitesmoke;
  border: 2px solid black;
  box-shadow: var(--box-shadow);
  width: 30%;
  padding: 1rem;

  position: absolute;
  top: 3em;
  right: 1.5em;
}

.success-msg {
  background-color: var(--normalGreen);
  color: white;
  border: 2px solid black;
  box-shadow: var(--box-shadow);
  width: 30%;
  padding: 1rem;

  position: absolute;
  top: 3em;
  right: 1.5em;
}
