/* 

@media (min-width:320px)  { smartphones, portrait iPhone, portrait 480x320 phones (Android)  }
@media (min-width:481px)  { smartphones, Android phones, landscape iPhone  }
@media (min-width:641px)  { portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android)  }
@media (min-width:961px)  { tablet, landscape iPad, lo-res laptops ands desktops  }
@media (min-width:1025px) { big landscape tablets, laptops, and desktops }
@media (min-width:1281px) { hi-res laptops and desktops  } 

*/

/* TABLET */
@media screen and (max-width: 1280px) {
  main {
    margin-top: 1.5em;
    margin-left: 1em;
  }

  main.conteudo-pagina {
    /* align-self: center; */
    /* margin: 3em 1.5em 0 1.5em; */
    /* margin-top: 3em; */
    margin: 3em 0;
    padding: 2em 2em;
    /* margin-top: 3em; */
  }

  .logo-header-mobile {
    position: relative;
    z-index: 9999;
    align-self: center;
    padding: 0;
  }

  .success-msg,
  .error-msg {
    color: whitesmoke;
    border: 2px solid black;
    box-shadow: var(--box-shadow);

    font-size: 16px;

    position: absolute;
    top: 3.2em;
    right: 1.5em;

    width: fit-content;
    padding: 0.8em 1rem;
  }

  h1 {
    font-size: 22px;
  }

  div.internal-nav-links {
    /* margin: 0 1em; */
  }

  #container-index.container {
    margin-top: 15dvh;
  }

  h1#tituloInicial {
    font-size: 22px;
    /* margin-top: 3em; */
  }

  div.container-inicial {
    margin-top: 2em;
  }

  div.container-inicial > p {
    margin-top: 0.4em;
  }

  div.container-inicial > h2 {
    padding: 0.5em;
  }

  .btn-menu {
    position: fixed;
    left: 1.5em;
    top: 0.5em;
  }

  #titulo-cadastro {
    font-size: 22px;
    padding-bottom: 0;
  }

  .container.container-cadastro {
    padding: 20px 10px;
    width: 45%;
    /* height: 10%; */
  }

  form#form-cadastro label {
    font-size: 16px;
    margin: 0.3em 0 0.2em 0;
  }

  .div-cadastro {
    padding-left: 1em;
    padding-right: 1em;
  }

  form#form-cadastro button {
    margin: 10px auto;
  }

  div.product-view .product-btns {
    margin: auto 0;
  }

  div.product-view {
    padding: 1em;

    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    /* align-items: center  ; */
  }

  div.product-view p {
    margin: 2px;
    line-height: 2em;
    font-size: 16px;
  }

  .internal-nav-links {
    /* width: 90dvw; */
  }

  div.product-view > div.product-img-btn > img.img-produtos {
    align-self: center;
    width: 85%;
    height: 200px;
  }

  div.texto-produto,
  div.texto-pedido {
    max-width: 50%;
  }

  div.texto-produto h2,
  div.texto-pedido h2 {
    text-align: left;
    padding: 0.2em;
    font-size: 18px;
    /* font-family: sans-serif; */
    /* color: black; */
    /* font-weight: 300; */
    /* list-style-type: disc; */
    /* text-decoration: ; */
    /* text-decoration: underline; */
  }

  div.pedido-btns {
    display: flex;
    flex-direction: column;
    /* margin: auto; */
  }

  div.product-btns > a {
    padding: 0.2em 0.5em;
    font-size: 16px;
  }

  details.produtos-pedido {
    padding: 0.8em;
  }

  details.produtos-pedido > summary {
    font-size: 16px;
  }

  div.adicionar-produtos > div.product-view {
    margin-bottom: 10px;
  }

  div.product-img-btn > span.bi.bi-bag-plus {
    font-size: 20px;
  }

  input#quantidadeVendida.input-pedido {
    width: 50px;
  }

  input#quantidadeVendida.input-pedido::placeholder {
    color: transparent;
  }


  div.produtos-no-pedido h3 {

    font-size: 18px;
  }

  div.produtos-no-pedido p {
    font-size: 16px;
  }

  /* div.adicionar-produtos {
    width: 100%;
  } */
}

/* Barra de pesquisa */
@media (max-width: 900px) {
  input#pesquisa-produtos,
  input#pesquisa-pedidos {
    font-size: 12px;
    /* width: 60dvw; */
  }

  /* #pesquisa-produtos::placeholder {
    color: transparent;
  } */

  span#search-icon {
    font-size: 16px;
    right: -15%;
    /* right: 0px; */
    /* left: 10px; */
    /* z-index: 1; */
    /* width: 60dvw; */
  }

  div.internal-nav-links > a {
    /* width: 100%; */
    font-size: 14px;
    padding: 0.2em 0.6em;
    /* width: 8em; */
    /* right: 0; */
    /* margin-right: 2em; */

    display: flex;
    align-items: center;
  }

  div.internal-nav-links > a > span {
    font-size: 18px;
    margin-right: 0.5em;
  }

  div.internal-nav-inputs details.fitros-produtos {
    padding: 0.1em 0.6em;
  }

  details.fitros-produtos > summary {
    font-size: 16px;
  }

  div.adicionar-produtos span#search-icon {
    /* align-self: center; */
    right: 0;
    /* background-color: red; */
  }

  fieldset#pedidos-form {
    margin-left: 1em;
    padding: 0.5em 0.8em;
  }

  fieldset#pedidos-form label.label-column {
    font-size: 15px;
  }

  textarea#comentarioPedido.input-pedido {
    font-size: 15px;
  }

  select#statusPedido {
    font-size: 14px;
    padding: 0.5em;
    width: 150px;
    margin-left: 0.5em;
  }

  fieldset#pedidos-form input#prazoPedido {
    padding: 0.5em;

    font-size: 14px;
  }

  .total-pedido > p {
    font-size: 16px;
  }

  .produtos-no-pedido p {
    font-size: 16px;
  }

  div.form-pedidos-items > button,
  div.form-pedidos-items > a {
    padding: 0.3em;
    width: 100px;
    font-size: 14px;
  }


  div.produtos-no-pedido {
    grid-template-columns: none;
    gap: 0.5em;
  }




  div.produtos-no-pedido div.produto-individual {
    padding: 0.5em;
    gap: 0;
  }


}

@media (max-width: 770px) {
  main.conteudo-pagina {
    margin-top: 4em;
    padding: 1em 1em;
  }
  div.product-view > div.texto-produto,
  div.product-view > div.texto-pedido {
    max-width: 60%;
  }

  div.product-view {
    margin-bottom: 10px;
  }

  div.product-img-btn {
    max-width: 35%;
    margin-right: 1em;
  }

  div.product-btns > a {
    margin: 0.5em;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  div.product-btns span {
    font-size: 16px;
    margin-right: 0.5em;
  }

  div.product-view > div.product-img-btn > img.img-produtos {
    width: 90%;
  }

  div.lista-produtos {
    padding: 0px;
  }

  span.bi.bi-bag-plus {
    display: none;
  }

  div.container-horizontal{
    display: block;
  }

  div.produtos-no-pedido {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  div.produtos-no-pedido div.produto-individual p{
    font-size: 14px;
  }

  div.produtos-no-pedido div.produto-individual h3 {
    font-size: 16px;
  }


}

/* CELULAR */

@media (max-width: 641px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

  /* GERAL */
  main {
    margin-top: 1.5em;
    padding: 1em;
    margin-left: 0px;
    /* overflow-y: auto; */
  }

  .conteudo-pagina {
    margin-left: 0;
    margin-right: 0;
    padding: 0 0;
    padding-top: 2em;
    height: 100dvh;
    width: 100dvw;

    /* justify-content: center; */
  }

  #aside-deslog {
    visibility: hidden;
  }

  /* Tela de ERRO */

  .titulo-erro {
    font-size: 20px;
    width: fit-content;
  }

  .container-inicial.container-erro {
    width: auto;
    padding: 2em 1em;
  }

  .container-inicial.container-erro p {
    font-size: 16px;
    margin-top: 0.8em;
    margin-bottom: 0.5em;
  }

  a.btn-voltar-erro {
    margin-top: 30%;
  }

  /* Index */
  #container-index.container {
    display: flex;
    flex-direction: column;
    margin: auto auto;
    /* margin-top: 18dvh; */
    /* width: 65%; */
    /* margin: 0 auto; */
    /* align-self: center; */
    /* margin-left: 1em; */
  }

  #subtitulo-index {
    width: auto;
    font-size: 1.3em;
  }

  .botoes-index {
    display: flex;
    flex-direction: column;
  }

  /* Tela de login */

  #titulo-login {
    font-size: 22px;
  }

  .container.container-login {
    display: flex;
    flex-direction: column;
    margin: 1.5em -10px;
    width: 95%;
  }

  #form-login {
    margin: 0;
    align-self: center;
  }

  .logo-header-mobile {
    position: relative;
    z-index: 9999;
    align-self: center;
    padding: 0;
  }

  /* Tela de cadastro */

  #titulo-cadastro {
    font-size: 22px;
    padding-bottom: 0;
  }

  .container.container-cadastro {
    padding: 20px 10px;
    width: 95%;
    /* height: 10%; */
  }

  form#form-cadastro label {
    font-size: 16px;
    margin: 0.3em 0 0.2em 0;
  }

  .div-cadastro {
    padding-left: 1em;
    padding-right: 1em;
  }

  form#form-cadastro button {
    margin: 10px auto;
  }

  /* Tela inicial */

  div.container-inicial {
    width: 20em;
    padding: 1.5em;
  }

  div.container-inicial > p {
    font-size: 14px;
  }

  div.container-inicial > h2 {
    font-size: 18px;
    padding-bottom: 0;
  }

  /* Footer */

  footer {
    font-size: 0.6em;
    text-align: center;
    align-self: center;

    /* position: sticky;
    padding: 5px 0;

    z-index: 1;

    bottom: 5px;
    margin: 0 auto; */
  }

  .internal-nav-links {
    /* width: 100dvw; */
    /* margin: 0 1em; */
  }

  div.internal-nav-links h1 {
    font-size: 22px;
    margin-right: 0;
  }

  div.internal-nav-links > a {
    /* width: 100%; */
    font-size: 14px;
    padding: 0.2em 0.6em;
    /* width: 8em; */
    /* right: 0; */
    /* margin-right: 2em; */

    display: flex;
    align-items: center;
  }

  div.internal-nav-links > a > span {
    font-size: 18px;
    margin-right: 0.5em;
  }

  form#form-pesquisa-produtos,
  form#form-pesquisa-pedidos {
    /* border: var(--border-thin); */
    width: 55%;
    /* max-width: 50dvw; */
  }

  /* form#form-pesquisa-produtos:focus {
  } */
  input#pesquisa-produtos,
  input#pesquisa-pedidos {
    max-width: 100%;
    border: var(--border-thin);
    box-shadow: none;
  }

  input#pesquisa-produtos:focus,
  input#pesquisa-pedidos:focus {
    border: var(--border-focus-purple);
    box-shadow: var(--shadow-focus-purple);
  }

  /* input#pesquisa-produtos::placeholder {
    color: transparent;
  } */

  span#search-icon {
    right: -15%;
  }

  div.product-view > div.product-img-btn > img.img-produtos {
    /* width: 90%; */
    max-height: 150px;
  }
}

@media (max-width: 550px) {
  div.product-view {
    flex-direction: column;
  }

  div.product-view > .pedido-btns {
    flex-direction: row;
  }

  div.product-view > div.texto-produto,
  div.product-view > div.texto-pedido {
    max-width: 100%;
  }

  div.product-img-btn {
    max-width: 100%;
  }

  /* Cadastro de produtos */

  div.inner-products-form {
    padding: 0.3em;
  }

  div.div-inner-products {
    flex-direction: column;
  }

  /* fieldset#products-form {

  } */

  #form-products-buttons > button {
    padding: 0.5em 0.5em;
    font-size: 14px;
    width: 30%;
  }

  div.product-img-btn {
    margin-right: 0;
  }
}
