/* 

@media (min-width:320px)  { smartphones, portrait iPhone, portrait 480x320 phones (Android)  }
@media (min-width:481px)  { smartphones, Android phones, landscape iPhone  }
@media (min-width:641px)  { portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android)  }
@media (min-width:961px)  { tablet, landscape iPad, lo-res laptops ands desktops  }
@media (min-width:1025px) { big landscape tablets, laptops, and desktops }
@media (min-width:1281px) { hi-res laptops and desktops  } 

*/

@media (max-width: 641px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */

  main {
    padding: 1em;
    /* overflow-y: auto; */
  }

  #aside-deslog {
    visibility: hidden;
  }

  /* Index */
  #container-index.container {
    display: flex;
    flex-direction: column;
    margin: auto auto;
    /* margin-top: 18dvh; */
    /* width: 65%; */
    /* margin: 0 auto; */
    /* align-self: center; */
    /* margin-left: 1em; */
  }

  #subtitulo-index {
    width: auto;
    font-size: 1.3em;
  }

  .botoes-index {
    display: flex;
    flex-direction: column;
  }

  /* Tela de login */

  #titulo-login {
    font-size: 22px;
  }

  .container.container-login {
    display: flex;
    flex-direction: column;
    margin: 1.5em -10px;
    width: 95%;
  }


  #form-login {
    margin: 0;
    align-self: center;
  }


  .logo-header-mobile {
    position: relative;
    z-index: 9999;
    align-self: center;
    padding: 0;
  }



  /* Tela de cadastro */

  #titulo-cadastro {
    font-size: 22px;
    padding-bottom: 0;
  }

  .container.container-cadastro {
    padding: 20px 10px;
    width: 95%;
    /* height: 10%; */
  }

  form#form-cadastro  label {
    font-size: 16px;
    margin: 0.3em 0 0.2em 0;
  }

  .div-cadastro {
    padding-left: 1em;
    padding-right: 1em;
  }

  

  /* Footer */

  /* footer {
    font-size: 0.6em;
    text-align: center;
    align-self: center;
    
    position: sticky;
    padding: 5px 0;

    z-index: 1;

    bottom: 5px;
    margin: 0 auto;
  } */
}
