* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --sb-width: 8rem;
  font-family: system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.7;
}

body.sb-expanded {
  --sb-width: 18.5rem;
}

aside {
  position: fixed !important;
  inset: 0 auto 0 0;
  padding: 1rem;
  width: var(--sb-width);
  min-height: 100dvh;
  height: 100vh;
  height: 100dvh;
  background-color: var(--lightGreen);
  border-right: var(--border);
  transition: width 0.4s ease-in-out;
}

#sidebar nav, 
#sidebar ul {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  
  display: flex;
  flex-direction: column; 
  flex-flow: column;
  gap: 0.25rem;

}

nav ul {
  list-style: none;

  flex-flow: column;
}

nav li:last-child {
  margin-top: auto;
}

#logo-sidenav {
  width: 80px;

  margin: 3em 10px;

  transition: width 0.3s ease-in-out;
}

#logo-sidenav-view {
  margin: 7.8em 10px;
  width: 80px;
  /* margin: 10px; */
  text-align: left;

  background-color: transparent;
  border: none;
}

header {
  visibility: hidden;
}

#logo-header {
  width: 80px;
  margin: 0.5em auto;

  transition:
  width 0.4s ease-in-out,
  transform 0.8s ease-in-out,
    opacity 0.4s ease-in-out;
  transform: rotate(0deg);
}

.link-logo {
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin-top: 3em;
  margin-bottom: 3em;

  margin-left: 0;
  padding-left: 0;
}

.link-logo:hover {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.link-logo-header,
.link-logo-header:hover {
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin: 0 auto;
}

.container-header {
  background-color: var(--lightGreen);
  border-bottom: var(--border);
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  width: 100%;

  transition: border 0.3s ease-in-out;
}

nav a {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-size: 1rem;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  transition:
    background-color 0.4s ease-in-out,
    color 0.4s ease-in-out;
  /* width: 4.5em;
  height: 3.5em;

  padding-left: 1.4em; */

  margin-left: 1.4em;
  width: 3em;
  height: 3em;
  padding-left: 0.7em;

  transition: width 0.4s ease-in-out;
}

nav a.active:hover,
nav a:hover,
nav a:focus-visible {
  outline: none;
  color: whitesmoke;
  background-color: var(--darkerPurple);
}

nav a.active {
  outline: none;
  color: whitesmoke;
  background-color: var(--lighterPurple);
}

nav a i {
  font-size: 1.3em;
}

nav a span {
  font-size: 1.1rem;
  margin-left: 0.5em;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

#header-mobile .btn-menu i {
  margin-top: -5px;
  padding: 0;
  font-size: 1.2em;
}

.btn-menu {
  background-color: whitesmoke;
  color: black;

  padding: 0.5em;
  width: 2.5em;
  height: 2.5em;

  rotate: 0deg;
  transition: rotate 0.4s ease-in-out;

  display: flex;
  align-content: center;
}



.btn-menu:hover {
  background-color: var(--darkGreen);
  color: whitesmoke;

  padding: 0.5em;
  width: 2.5em;
  height: 2.5em;
  /* content: "bi bi-x-lg"; */
  /* transition: box-shadow 0.3s ease-in-out; */
  rotate: 180deg;
}

.btn-sair {
  background-color: transparent;
  border: none;
  box-shadow: none;

  color: var(--darkGreen);

  /* margin-top: auto; */
  bottom: 10px;
  /* padding: 0.3rem; */
  /* margin-right: 2em; */
  width: fit-content;
  align-self: center;
  display: flex;
}

.btn-sair:hover {
  /* border: var(--border); */
  /* background-color: whitesmoke; */
  /* text-shadow: var(--box-shadow); */

  background-color: transparent;
  box-shadow: none;

  color: black;
  transition: color 0.2s ease-in-out;
}

.sb-expanded #logo-sidenav {
  width: 150px;
  margin-left: 2.5em;
  transition: width 0.3s ease-in-out;
}

.sb-expanded .link-logo {
  text-align: center;
  margin-left: 1em;
}

.sb-expanded nav a {
  width: 13em;
  height: 3.5em;

  text-align: center;

  /* display: flex; */
  /* align-items: center; */
  /* gap: 0.625rem; */
  font-size: 1rem;
  line-height: 1;
  /* color: #fff; */
  /* text-decoration: none; */
  /* transition:
    background-color 0.4s ease-in-out,
    color 0.4s ease-in-out; */
  /* width: 4.5em;
  height: 3.5em;

  padding-left: 1.4em; */

  margin-left: 1.4em;
  height: 3em;
  padding-left: 0.7em;
}

.sb-expanded nav a span {
  opacity: 1;
  visibility: visible;
  width: fit-content;
}

.sb-expanded .btn-menu {
  padding: 0.5em;
  width: 2.5em;
  height: 2.5em;
}

main {
  margin-left: 5rem;
  padding: 1rem 2rem;
  transition: margin-left 0.4s ease-in-out;
}

/* Media query da sidenav */

/* Padrão do sistema */
@media (min-width: 0px) {
  main {
    margin-left: var(--sb-width);
  }
}

/* Queries específicas */

/* Computador */
@media screen and (min-width: 1230px) {
}

/* Tablet */

@media screen and (max-width: 961px) {
  #sidebar {
    visibility: hidden;
    position: static;
  }

  header {
    /* background-color: red; */
    visibility: visible;

    position: fixed;
    top: 0;
    z-index: 9999;

    display: flex;
    flex-direction: row;
    width: 100dvw;
    height: 5em;
  }

  .sb-expanded #sidebar {
    visibility: visible;
  }

  .sb-expanded #logo-header {
    visibility: hidden;
    transform: rotate(360deg);
  }

  .sb-expanded .container-header {
    background-color: transparent;
    border-bottom: transparent;
  }

  .sb-expanded #sidebar .btn-menu {
    visibility: hidden;
  }

  .sb-expanded #logo-sidenav {
    margin: 1em auto;
  }
}

/* OLD */

/* #sidebar {
    visibility: hidden;
  }

  .btn-menu {
    visibility: visible;


  }

  .sb-expanded #sidebar {
    visibility: visible;

 
  } */
