* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --sb-width: 8rem;
  font-family: system-ui, sans-serif;
  font-size: 16px;
  line-height: 1.7;
}

body.sb-expanded {
  --sb-width: 18.5rem;
}

aside {
  position: fixed !important;
  inset: 0 auto 0 0;
  padding: 1rem;
  width: var(--sb-width);
  min-height: 100dvh;
  height: 100vh;
  height: 100dvh;
  background-color: var(--lightGreen);
  border-right: var(--border);
  transition: width 0.4s ease-in-out;
}

.sb-expanded aside#sidebar.sacola-compras {
  width: 28rem;
  z-index: 99999;

}


#sidebar nav,
#sidebar ul {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  flex-flow: column;
  gap: 0.25rem;
}

nav ul {
  list-style: none;
  flex-flow: column;
}

nav li:last-child {
  margin-top: auto;
}

.sacola-compras ul {
  /* height: 50%; */
}

#logo-sidenav, 
#logo-sidenav-view
 {
  width: 80px;

  margin: 3em 10px;

  transition: width 0.3s ease-in-out;
}

#logo-sidenav-view {
  margin: 1em 10px;
}


header {
  visibility: hidden;
  width: 0em;
}

#logo-header {
  width: 80px;
  margin: 0em auto;
  /* margin-right: 42.5px; */

  transition:
    width 0.4s ease-in-out,
    transform 0.8s ease-in-out,
    opacity 0.4s ease-in-out;
  transform: rotate(0deg);
}

.link-logo {
  background-color: transparent;
  border: none;
  box-shadow: none;
  margin-top: 3em;
  margin-bottom: 3em;

  margin-left: 0;
  padding-left: 0;
}

.link-logo:hover {
  background-color: transparent;
  border: none;
  box-shadow: none;
}

.link-logo-header,
.link-logo-header:hover {
  background-color: transparent;
  border: none;
  box-shadow: none;
  /* margin: 0 auto; */
  align-content: center;
}

.container-header {
  background-color: var(--lightGreen);
  border-bottom: var(--border);
  display: flex;
  flex-direction: row;
  justify-content: center;

  width: 100%;

  transition: border 0.3s ease-in-out;
}

nav a {
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-size: 1rem;
  line-height: 1;
  color: #fff;
  text-decoration: none;
  transition:
    background-color 0.4s ease-in-out,
    color 0.4s ease-in-out;
  /* width: 4.5em;
  height: 3.5em;

  padding-left: 1.4em; */

  margin-left: 1.4em;
  width: 3em;
  height: 3em;
  padding-left: 0.7em;

  transition: width 0.4s ease-in-out;
}

nav a.active:hover,
nav a:hover,
nav a:focus-visible {
  outline: none;
  color: whitesmoke;
  background-color: var(--darkerPurple);
}

nav a.active {
  outline: none;
  color: whitesmoke;
  background-color: var(--lighterPurple);
}

nav a i {
  font-size: 1.3em;
}

nav a span {
  font-size: 1.1rem;
  margin-left: 0.5em;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

#header-mobile .btn-menu i {
  margin-top: -5px;
  padding: 0;
  font-size: 1.2em;
}

.btn-menu {
  background-color: whitesmoke;
  color: black;

  padding: 0.5em;
  width: 2.5em;
  height: 2.5em;

  rotate: 0deg;
  transition: rotate 0.4s ease-in-out;

  display: flex;
  align-content: center;
}

.btn-menu:hover {
  background-color: var(--darkGreen);
  color: whitesmoke;

  padding: 0.5em;
  width: 2.5em;
  height: 2.5em;
  /* content: "bi bi-x-lg"; */
  /* transition: box-shadow 0.3s ease-in-out; */
  rotate: 180deg;
}

.btn-sair {
  background-color: transparent;
  border: none;
  box-shadow: none;

  color: var(--darkGreen);

  /* margin-top: auto; */
  bottom: 10px;
  /* padding: 0.3rem; */
  /* margin-right: 2em; */
  width: fit-content;
  align-self: center;
  display: flex;
}

.btn-sair:hover {
  /* border: var(--border); */
  /* background-color: whitesmoke; */
  /* text-shadow: var(--box-shadow); */

  background-color: transparent;
  box-shadow: none;

  color: black;
  transition: color 0.2s ease-in-out;
}

.sb-expanded #logo-sidenav,
.sb-expanded #logo-sidenav-view {
  width: 150px;
  margin-left: 2.5em;
  transition: width 0.3s ease-in-out;
}

.sb-expanded .link-logo {
  text-align: center;
  margin-left: 1em;
}

.sb-expanded nav a {
  width: 13em;
  height: 3.5em;

  text-align: center;

  /* display: flex; */
  /* align-items: center; */
  /* gap: 0.625rem; */
  font-size: 1rem;
  line-height: 1;
  /* color: #fff; */
  /* text-decoration: none; */
  /* transition:
    background-color 0.4s ease-in-out,
    color 0.4s ease-in-out; */
  /* width: 4.5em;
  height: 3.5em;

  padding-left: 1.4em; */

  margin-left: 1.4em;
  height: 3em;
  padding-left: 0.7em;
}

.sb-expanded nav a span {
  opacity: 1;
  visibility: visible;
  width: fit-content;
}

.sb-expanded .btn-menu {
  padding: 0.5em;
  width: 2.5em;
  height: 2.5em;
}
/* 
.sb-expanded details[open].produtos-pedido summary {
  left: 17em;
}

.sb-expanded .product-view .img-produtos {
  width: 50%;
  height: 150px;
}

.sb-expanded .product-view {
  padding: 0.8em;
} */

main {
  /* margin-left: 5rem; */
  /* padding: 1rem 2rem; */
  transition: margin-left 0.4s ease-in-out;
}



.produtos-sacola-sidenav {
  visibility: hidden;

  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border: var(--border-thin);

  padding: 0.5em;
}


li.produtos-sacola-sidenav div.total-pedido {
  width: fit-content;
  margin: 0 auto 0.8em auto;
  font-size: 16px;

}

li.produtos-sacola-sidenav label.label-column {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

li.produtos-sacola-sidenav label.label-column textarea{
}






.sb-expanded  .produtos-sacola-sidenav {
  visibility: visible;
  width: 25rem;
}



/* Media query da sidenav */

/* Padrão do sistema */
@media (min-width: 0px) {
  main {
    margin-left: var(--sb-width);
  }
}

/* Queries específicas */

/* Computador */
/* @media screen and (min-width: 1230px) {
} */

/* Tablet */

@media screen and (max-width: 1280px) {
  #sidebar {
    visibility: hidden;
    position: static;
    padding-top: 4em;
  }

  header {
    /* background-color: red; */
    visibility: visible;

    position: fixed;
    top: 0;
    z-index: 9999;

    display: flex;
    flex-direction: row;
    width: 100dvw;
    height: 5em;
  }

  .sb-expanded #sidebar {
    position: fixed;
    z-index: 9999;
    visibility: visible;
    width: 17.5em;
  }

  .sb-expanded aside#sidebar.sacola-compras {

    width: 28rem;
  }

  .sb-expanded #logo-header {
    visibility: hidden;
    transform: rotate(360deg);
  }

  .sb-expanded .container-header {
    background-color: transparent;
    border-bottom: transparent;
  }

  /* .sb-expanded #header-mobile .btn-menu {
    visibility: visible;
    position: absolute;
    z-index: 99999;
  } */

  .sb-expanded #sidebar .btn-menu {
    visibility: hidden;
  }

  .sb-expanded #logo-sidenav {
    margin: 1em auto;
  }
}


