@charset "UTF-8";

/*  SELETORES */
.coll-sidenav {
position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    margin: 0;
    font-size: 1em;
    background-color: transparent;
}

.coll-sidenav[open] {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 9999;
    margin: 0;
}

.coll-sidenav[open] + .conteudo-pagina {
    margin-left: 300px; /* Mesma largura da sua Sidenav */
    width: calc(100% - 300px); /* Ajusta a largura para não criar scroll horizontal */
}

.coll-sidenav > summary {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1000; 
    list-style-type: none;
    outline: none;
}


.coll-sidenav > summary::-webkit-details-marker {
    display: none;
}

.coll-sidenav > summary > span {
    position: fixed;
    font-size: 2rem;
    margin-left: 10px;
    border: var(--border);
    box-shadow: var(--box-shadow);
    background-color: whitesmoke;

    transition: rotate 0.5s ease-in-out;
    rotate: 0deg; 

}

.coll-sidenav > summary > span:hover {
    cursor: pointer;

    transition: rotate 0.5s ease-in-out;
    rotate: 180deg; 

}

.sidenav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 300px;
    position: relative;
    background-color: var(--lightGreen);
    padding-top: 80px;
    padding-left: 28px;
    padding-right: 25px;
    border-right: 4px solid black;
    /* box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.3); */
}


#btn-sair {
    justify-content: center;
    background-color: transparent;

    color: var(--darkGreen);
    border: 2.8px solid transparent;
    box-shadow: none;

    margin-top: auto;
    bottom: 10px;
    padding: 0.3rem;
    margin-right: 2em;
    width: fit-content;
    align-self: center;

}

#btn-sair:hover {
    border: var(--border);
    color: black;
    background-color: whitesmoke;

}

.header-mobile{
    background-color: var(--lightGreen);
    margin-top: 0px;
    
}

/* Navs internas */

.internal-nav {
    display: inline-block;
    margin-bottom: 2em 0;
    gap: 20px;
}

.internal-nav a:hover {
    background-color: var(--softGreen);
    color: black;
    box-shadow: -2px 3px 5px black;
    text-decoration: none;
}

.internal-nav h1 {
    padding: 0;
    color: var(--darkGreen);
    text-align: left;
    margin-right: 10rem;

}

.internal-nav-links {
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;

}

.internal-nav-links > a {
    text-decoration: none;
    border: var(--border);
    box-shadow: var(--box-shadow);
    background-color: var(--darkerPurple);
    padding: 0.8em;
    color: white;
    width: fit-content;
    text-align: center;
    /* margin: 0 auto; */
    /* justify-self: center; */
}

.internal-nav-links > a:hover {
    background-color: var(--normalPurple);
    color: white;
    box-shadow: var(--box-shadow);
}

.internal-nav-inputs {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 1em;
}

#filtro-estoque,
#filtro-encomenda,
#filtro-status {
    width: 20%;
}

#filtro-data {
    width: 15%;
    padding: 1rem;
    text-align: center;
}

#btn-limpar-filtros {
    width: fit-content;
    font-size: 14px;
    padding: 0.8em;
    color: black;
    background-color: var(--lightGreen);
    margin-right: 0;
}

#btn-limpar-filtros:hover{
    background-color: var(--softGreen);

}

#form-pesquisa-produtos, #form-pesquisa-pedidos {
    position: relative;
    display: inline-block;
    margin-top: 0.8em;

    width: 40%;
    background-color: white;

}



#pesquisa-produtos, #pesquisa-pedidos {
    border: var(--border);
    box-shadow: var(--box-shadow);

    padding: 0.8em;
    font-size: 16px;
    width: 100%;
}


#pesquisa-produtos:focus{
    border: var(--border-focus-purple);
    box-shadow: var(--shadow-focus-purple);
    outline: none;
}

#search-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2.5rem;
}

/* Tela inicial */
#tituloInicial {
    border: var(--border);
    box-shadow: var(--box-shadow);
    background-color: var(--lighterPurple);
    color: white;

    font-weight: 400;
    font-size: 2.8em;
    align-self: center;

    margin-top: 1em;
    padding: 0.5em 1em;
    width: fit-content;
}

.container-inicial {
    border: var(--border);
    box-shadow: var(--box-shadow);
    background-color: white;
    /* width: fit-content; */
    width: 40rem;
    text-align: left;
    align-self: center;
    margin-top: 3em;
    padding: 2em;
}

.container-inicial > p {
    margin-top: 0.8em;
    /* margin-right: 3em; */
}

/* Index */

.logo-inicio {
    top: 50px;
    left: 60px;
    width: 150px;
    position: absolute;
}

/* #main-index,  */
.main {
    background-color: var(--lightGreen);
    display: flex;
}

.container
/* #container-index */
 {
    border: var(--border);
    box-shadow: var(--box-shadow);
    margin: auto auto;
    background-color: whitesmoke;
    justify-self: center;

    padding: 2rem;

    display: grid;

    width: 456;
    height: 355;
    
}


.container > img
/* #container-index > img */
 {
    width: 200px;
    margin: 0 auto;
    margin-top: 35px;
    /* align-self: center; */
}

.container > a
/* #container-index > a */
 {
    margin: 20px;
}

#subtitulo-index {
    text-align: center;
}

/* Tela de cadastro */

.div-cadastro, .div-login {
    padding-left: 2em;
    padding-right: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.container-cadastro {
    margin-top: 4em;
}


#titulo-cadastro, #titulo-login {
    padding-top: 0.2em;
    text-align: center;
}

#form-cadastro, #form-login { 
    display: grid;
    grid-template-columns: 1;
}

#form-cadastro > label, #form-login > label {
    font-size: 18px;
    margin: 0.8em 0 0.5em 0;
}

#form-cadastro > p, #form-login > p {
    font-size: 12px;
    margin-bottom: 0.3em;
    margin-top: 0.3em;
}

#btn-cad-usuario {
    align-self: center;
    margin: 1rem auto;
}

#btn-login {
    /* top: 10px; */
    align-self: center;
}

/* Produtos */

.lista-produtos,
.lista-pedidos {
    display: flex;
    flex-wrap: wrap;
    border: var(--border-thin);
    padding: 10px;
    background-color: thistle;
    justify-content: space-evenly;
}

.product-view {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    overflow-x: hidden;

    background-color: whitesmoke;
    border: var(--border);
    box-shadow: var(--box-shadow);

    padding: 2rem;
    margin: 10px;

    margin-bottom: 25px;
    box-sizing: border-box;

    width: 45%;

    min-height: fit-content;
    max-height: fit-content;
}


/* .product-view > img  */
.img-produtos {
    border: var(--border);
    box-shadow: var(--box-shadow);
    margin-left: 10px;
    margin-bottom: 10px;

    width: 95%;
    height: auto;
    /* min-width: 50%;
    max-width: 95%; */
}

.product-view > p {
    margin: 10px;
    max-width: 95%  ;
}

.p-descricao {
    overflow-y: auto;
    max-height: 150px;
    scrollbar-width: thin;
    scrollbar-color: var(--normalPurple);
}

.product-btns {
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-top: auto;
}

.product-btns > a {
    width: 120px;
    
}

/* Visualização de loja */


.header-view-loja {
    background-color: var(--lightGreen);
    width: 300px;
    padding: 5rem 2.5rem;
    border-right: 4px solid black;

}

.header-view-loja > a, #img-logo-link {
    align-self: center;
    border: none;
    background-color: transparent;
    box-shadow: none;
}

#img-logo-link {
    padding: 0;
    margin: 0 auto;
}


/* Gui Erro */

.titulo-erro {
    margin-top: 3rem;
    text-align: center;
    align-self: center;
    border: var(--border);
    box-shadow: var(--box-shadow);
    width: fit-content;

    background-color: brown;
    color: whitesmoke;

    font-weight: normal;
}

.container-erro {
    text-align: center;
    font-size: 18px;
    width: 50%;
}

.container-erro > p {
    font-size: 20px;
    line-height: 1.2rem;
}

.btn-voltar-erro {
    margin-top: 20vh;
    align-self: center;
}

/* Tela de cadastro de produtos */

.form-cadastro {
    display: block;
    flex-direction: column;
    align-self: center;
}

#form-products-buttons {
    display: flex;
    justify-content: center;
}

#products-form {
    border: var(--border);
    box-shadow: var(--box-shadow);
    background-color: white;

    padding: 1rem;

    width: max-content;

    display: flex;
    justify-content: center;

    /* margin-left: 1.5rem; */

}

.inner-products-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 0.8rem;
    font-size: 16px;
    padding: 1.2rem;
    text-align: left;
}

.inner-products-form > input[type="text"],
.inner-products-form > input[type="file"],
.inner-products-form > textarea
 {
    margin-left: 0;
    width: 100%;
}


.inner-products-form input[type="number"]  {
    /* margin-left: 0; */
    width: 5rem;
}

.div-inner-products {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
}

#nomeProduto.input-produto {
    width: 66.5%;
}

.inner-products-form > input[type="file"] {
    padding-left: 0;
}

.inner-products-form strong{
    color: var(--darkGreen);
    font-weight: 700;
}

/* .inner-products-form > .input-produto {
    width: max-content;
} */

.input-produto {
    background-color: white;
    font-size: 15px;
    margin-left: 0.8rem;
    padding: 0.5rem;
    /* width: 20rem; */
    /* box-sizing: border-box; */
}

.input-checkbox {
    margin-left: 1rem;
    width: 1rem;
}

.checkbox-acc {
    display: flex;
    align-items: center;
}

#products-form > legend {
    font-size: 18px;
    padding: 0.2em;
    color: black;
    font-weight: bolder;
}

.descricao-produtos > textarea {
    height: 10rem;
}

.descricao-produtos {
    display: flex;
    align-items: start;
}
